# DADOS CATEGÓRICOS E VALORES FALTANTES

In [56]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

from utils import do_cv_knn

In [12]:
df = pd.read_csv('employee.csv')
df.drop(df.columns[:-4], axis=1, inplace=True)
y = df[['left']].values.ravel()
X = df.drop('left', axis=1)

In [20]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer

X

       promotion_last_5years department  salary
0                          0      sales     low
1                          0      sales  medium
2                          0      sales  medium
3                          0      sales     low
4                          0      sales     low
...                      ...        ...     ...
14994                      0    support     low
14995                      0    support     low
14996                      0    support     low
14997                      0    support     low
14998                      0    support     low

[14999 rows x 3 columns]

In [54]:
transformers = [
    ('oe_salary', OrdinalEncoder(categories=[['low', 'medium', 'high']]), ['salary']),
    ('oe, department', OrdinalEncoder(), ['department'])
]

ct = ColumnTransformer(transformers, remainder='passthrough')

X_oe = ct.fit_transform(X)
X_oe

array([[0., 7., 0.],
       [1., 7., 0.],
       [1., 7., 0.],
       ...,
       [0., 8., 0.],
       [0., 8., 0.],
       [0., 8., 0.]])

In [58]:
acuracias = do_cv_knn(X_oe, y, 10, range(1, 30, 2))

Folds avaliados:   0%|          | 0/10 [00:00<?, ?it/s]

In [59]:
print(min(acuracias))
print(max(acuracias))
print(np.mean(acuracias))
print(np.std(acuracias))

0.6913333333333334
0.762
0.7419157660662664
0.02277535308724125

# One-hot encoding

In [47]:
from sklearn.preprocessing import OneHotEncoder

transformers = [
    ('oe_salary', OrdinalEncoder(categories=[['low', 'medium', 'high']]), ['salary']),
    ('oh, department', OneHotEncoder(), ['department'])
]

ct_oe_oh = ColumnTransformer(transformers, remainder='passthrough')

X_oe_oh = ct_oe_oh.fit_transform(X).todense()
print(X_oe_oh)

[[0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 1. 0. 0.]]

In [50]:
ct_oe_oh.transformers_[1][1].get_feature_names()

array(['x0_IT', 'x0_RandD', 'x0_accounting', 'x0_hr', 'x0_management',
       'x0_marketing', 'x0_product_mng', 'x0_sales', 'x0_support',
       'x0_technical'], dtype=object)

In [ ]:
acuracias = do_cv_knn(X_oe_oh, y, 10, range(1, 30, 2))

Folds avaliados:   0%|          | 0/10 [00:00<?, ?it/s]

In [ ]:
print(min(acuracias))
print(max(acuracias))
print(np.mean(acuracias))
print(np.std(acuracias))